body {
    font-size: 16px;
}

.navbar {
    margin-bottom: 0;
    background-color: #CB2134;
    border-bottom:solid 1px #FF5568;
    border-radius: 0;
}

.navbar-nav > li > a {
    height: 70px;
    padding-top: 25px !important;
}

.navbar-default .navbar-nav > li > a {
    color: yellow;
}

.navbar-nav > li > a:hover {
    color: #FFF !important;
}

.navbar .navbar-header a {
    color: #000000 !important;
}

.navbar-nav li:hover {
    background-color: #CB2134 !important;
    color: #f9f9f9 !important;
}

.navbar-nav > li {
    /*border-right: 1px solid #dfdfdf;*/
}

.dropdown-menu li a:hover {
    color: #000 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #CB2134 !important;
    color: #FFF !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #CB2134;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.dichvu:hover {
    color: #CB2134;
}

.link-dich-vu:hover {
    color: #CB2134;
}

.link-dich-vu {
    color: #000;
}

.extranews_separator {
    clear: both;
    background: transparent url(./images/separator.png) no-repeat 50%;
    display: block;
    height: 14px;
    margin: 0
}